@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf6f0;
  font-family: var(--font-sans), sans-serif;
}

.font-script {
  font-family: var(--font-script), cursive;
}
